CompileFlags:
  Compiler: clang++
  Remove:
    - -march=vr4300
    - -mtune=vr4300
    - -quiet
    - -lang-c
    - -lang-c++
    - -G0
  Add:
    - -Iinclude
    - -Iultralib/include
    - -Iultralib/include/PR
    - -D_FINALROM
    - -DNDEBUG
    - -DBUILD_VERSION=VERSION_J
    - -D_LANGUAGE_C_PLUS_PLUS
    - -D__GNUC__=2
    - -D__OPTIMIZE__
    - -Dmips
    - -D__mips__
    - -D__mips
    - -Dn64
    - -D__n64__
    - -D__n64
    - -D_PSYQ
    - -D__EXTENSIONS__
    - -D_MIPSEB
    - -D__CHAR_UNSIGNED__
    - -DINCLUDE_ASM_USE_MACRO_INC=1
